 {% extends 'main.html'%} 
 {% block conten %}
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <img src="{static'images/a1.jpg'}" alt="t" class="card-img-top">
            <div class="card-body">
                <div class="card-title">Titre</div>
                    <div class="card-text">Prix</div>
                <button class="btn btn-warning">voire</button>
                <button class="btn btn-success">voire</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}